.foot {
    background: $DarkTextColor;

    &__container {
        padding: 50px 60px;

        @media (max-width: 1200px) {
            padding: 50px 30px;
        }

        @media (max-width: 991px) {
            padding: 50px 15px;
        }
    }

    &__menu {
        column-gap: 60px;
        row-gap: 30px;
    }

    &__copyrait {
        margin-top: 30px;

        &-text {
            font-size: 0.875rem;
            color: rgba($color: $TextColor, $alpha: 0.7);
            white-space: nowrap;

            & span {
                font-size: 0.875rem;
                color: rgba($color: $TextColor, $alpha: 0.7);
                white-space: nowrap;
            }
        }
    }

    &__contacts {

        &-list {
            row-gap: 15px;
        }

        &-item {
            font-size:0.875rem;
            color: rgba($color: $TextColor, $alpha: 0.7);
            white-space: nowrap;

            & a {
                font-size: 0.875rem;
                font-weight: $LightWeigth;
                color: rgba($color: $TextColor, $alpha: 0.7);
                white-space: nowrap;
                transition: all 0.2s;

                &:hover {
                    color: $ButtonColor;
                }
            }
        }
    }
}

.site-map {
    max-width: 660px;

    &__nav-list {
        column-gap: 10px;
        row-gap: 10px;
    }

    &__list {
        row-gap: 10px;

        &:last-child {
            row-gap: 15px;
        }
    }

    &__link {
        font-size: 0.875rem;
        color: rgba($color: $TextColor, $alpha: 0.7);
        transition: all 0.2s;

        &:hover {
            color: $ButtonColor;
        }
    }

    &__item {
        font-size: 0.875rem;
        color: rgba($color: $TextColor, $alpha: 0.7);
    }

    &__social {
        column-gap: 15px;

        &-link {
            & svg path {
                fill: rgba($color: $TextColor, $alpha: 0.7);
                transition: all 0.2s;
            }

            &:hover {
                & svg path {
                    fill: $ButtonColor;

                }
            }
        }
    }
}