#map {
    min-height: 567px;
}

.contacts {
    

    // &__container {
    //     position: absolute;
    //     height: 100%;
    //     display: flex;
    //     align-items: center;

    // }

    &__block {
        position: absolute;
        right: 56%;
        padding: 50px 35px;
        background: #0C1417;

        @media (max-width: 1200px) {
            left: 10%;
            right: auto;
        }

        @media (max-width: 991px) {
            left: 15px;
            padding: 50px 25px;
        }

        @media (max-width: 550px) {
            padding: 50px 15px;
            right: 0;
            left: 0;
            position: relative;
        }
    }

    &__title {
        font-size: 1.875rem;
    }

    &__list {
        row-gap: 25px;
    }

    &__item {
        column-gap: 15px;

        &-text {
            max-width: 270px;
            font-size: 1rem;
            font-weight: $LightWeigth;
            line-height: 30px;

            & a {
                max-width: 270px;
                font-size: 1rem;
                font-weight: $LightWeigth;
                line-height: 30px;
                transition: all 0.2s;
                color: $TextColor;

                &:hover {
                    color: $ButtonColor;
                }
            }
        }
    }

    &__social {
        margin-top: 40px;

        &-text {
            font-size: 1rem;
        }

        &-list {
            margin-top: 30px;
            column-gap: 15px;

            & a {

                & svg path {
                    transition: all 0.2s;
                }

                &:hover {
                    & svg path {
                        fill: $ButtonColor;
                    }
                }
            }
        }
    }
}