.modal {

    &-dialog {
        max-width: 900px;
    }

    &-content {
        padding: 50px 50px 110px;
        background: #0C1417 !important;
        position: relative;

        @media (max-width: 550px) {
            padding: 20px 10px;
        }
    }

    &-body {
        margin-top: 40px;
        row-gap: 30px;
    }

    &-title {
        column-gap: 20px;

        & span {
            font-size: 1.875rem;

            @media (max-width: 550px) {
                font-size: 1.25rem;

                & svg {
                    width: 27px;
                }
            }
        }
    }

    &-text {
        font-size: 1.25rem;

        @media (max-width: 550px) {
            font-size: 1.125rem;
        }
    }

    & .close {
        min-width: 40px;
        height: 40px;

        @media (max-width: 550px) {
            min-width: 20px;
            height: 20px;
        }
    }

    &-contacts {

        &-list {
            column-gap: 25px;
            row-gap: 20px;
        }


        &-item-text {
            font-size: 0.9rem;

            @media (max-width: 550px) {
                font-size: 0.8rem;
            }
        }

        &-social-text {
            font-size: 1rem;

            @media (max-width: 550px) {
                font-size: 0.8rem;
            }
        }
    }
}