@import "../mixins/button.scss";

.promo {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        padding: 100px 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;

        @media (max-width: 1080px) {
            padding: 100px 15px 50px;
        }
    }

    &__description {
        max-width: 1170px;
        column-gap: 30px;
    }

    &__images {
        column-gap: 30px;
        row-gap: 30px;

        @media (max-width: 991px) {
            margin-top: 60px;
        }
    }

    &__image {

        &.image1 {
            margin-bottom: 40px;

            @media (max-width: 991px) {
                margin-bottom: 0;
            }
        }

        &.image2 {
            margin-top: 40px;

            @media (max-width: 991px) {
                margin-top: 0;
            }

            @media (max-width: 768px) {
                margin-top: 30px;
            }
        }
    }

    &__content {

        &-title {
            font-weight: $BoldWeight;
            font-size: 3rem;
            margin-top: 70px;

            @media (max-width: 768px) {
                margin-top: 0px;
            }

            @media (max-width: 500px) {
                font-size: 2.5rem;
            }
        }

        &-text {
            font-size: 1.6rem;
            font-weight: $LightWeigth;
            margin-top: 50px;
        }

        &-control {
            margin-top: 40px;
        }

        &-btn {
            position: relative;
            @include button;
            margin-left: 10px;


            &::before {
                content: "";
                z-index: -1;

                @include button-border
            }

            &:hover {
                &::before {
                    border: none;
                    background: $ButtonColor;
                }
            }

        }
    }

    &__benefits {
        &-item {
            column-gap: 25px;
            row-gap: 15px;
            padding: 20px 0px 21px 20px;
            border-bottom: 2px solid transparent;
            transition: all 0.2s;

            @media (max-width: 500px) {
                padding: 20px 0px 21px 0px;
            }

            &:hover {
                border-bottom: 2px solid $ButtonColor;
            }

            & p {
                font-size: 1.7rem;
                font-weight: $RegWeigth;
                line-height: 28px;
            }

            &>svg {
                width: 100px;
                min-width: 57px;
            }
        }
    }

}