@import "../mixins/button.scss";

.subscriptions {

    &__section {
        position: relative;
    }

    &__range {
        width: 95%;
        max-width: 1000px;
        appearance: none;

        &::-webkit-slider-runnable-track {
            height: 4px;
            border-radius: 1px;
            background: $DarkTextColor;
            padding: 0 50px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            height: 10px;
            width: 25%;
            background: $ButtonColor;
            cursor: pointer;
            margin-top: -3px;
        }

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__table {
        padding: 10px 0;
        overflow-x: hidden;

        &-container {
            width: 100%;
            overflow-x: hidden;
        }

        &-all {

            & .table {
                margin-top: 80px;
                width: max-content;
                overflow: hidden;

                &__head {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(12, 20, 23, 0.5);

                    @media (max-width: 767px) {
                        justify-content: flex-start;
                    }

                    &-cell {
                        width: 210px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $DarkTextColor;
                        padding-bottom: 15px;

                        @media (max-width: 991px) {
                            padding-left: 15px;
                            width: 160px;
                        }

                        & span {
                            color: $DarkTextColor;
                            font-size: 18px;
                            line-height: 24px;
                            white-space: nowrap;
                            font-weight: $BoldWeight;

                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                    }

                    &-col-cell {
                        width: 260px;
                        color: $DarkTextColor;
                        padding-bottom: 15px;

                        @media (max-width: 991px) {
                            padding-left: 15px;
                            width: 185px;
                        }

                        @media (max-width: 767px) {
                            width: 175px;
                        }

                        & span {
                            color: $DarkTextColor;
                            font-size: 18px;
                            line-height: 24px;
                            white-space: nowrap;

                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                &__body {
                    margin-top: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: 767px) {
                        justify-content: flex-start;
                    }

                    &:hover {
                        & .table__body-head-cell {
                            & span {
                                color: $ButtonColor;
                            }
                        }
                    }

                    &-head-cell {
                        width: 260px;
                        display: flex;
                        align-items: center;

                        @media (max-width: 991px) {
                            padding-left: 15px;
                            width: 185px;
                        }

                        @media (max-width: 767px) {
                            width: 175px;
                        }

                        &:hover {
                            & span {
                                color: $DarkTextColor !important;
                            }
                        }

                        & span {
                            color: $DarkTextColor;
                            font-weight: $BoldWeight;
                            font-size: 16px;
                            line-height: 24px;

                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
                    }



                    &-cell {
                        height: 100%;
                        width: 210px;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        transition: all 0.2s;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (max-width: 991px) {
                            width: 160px;
                        }

                        @media (max-width: 767px) {
                            width: 150px;
                        }

                        & span {
                            color: $DarkTextColor;
                            font-size: 16px;
                            line-height: 24px;
                            max-width: 170px;
                        }

                        &:hover {
                            & span {
                                font-weight: $SemiBoldWeigth;
                            }

                            & .table__body-head-cell {
                                & span {
                                    color: $ButtonColor;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-months {

            & .table {
                margin-top: 80px;
                width: 100%;
                overflow: hidden;

                @media (max-width: 767px) {
                    width: max-content;
                }

                &__head {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(12, 20, 23, 0.5);

                    &-cell {
                        width: 100%;
                        width: 170px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $DarkTextColor;
                        padding-bottom: 15px;

                        @media (max-width: 991px) {
                            width: 130px;
                        }

                        & span {
                            color: $DarkTextColor;
                            font-size: 18px;
                            line-height: 24px;
                            white-space: nowrap;
                            font-weight: $BoldWeight;

                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }

                        &.col-1 {
                            & .table__body-cell.col-1:hover {
                                color: $ButtonColor;
                            }
                        }
                    }

                    &-col-cell {
                        width: 330px;
                        color: $DarkTextColor;
                        padding-bottom: 15px;

                        @media (max-width: 991px) {
                            padding-left: 15px;
                            width: 250px;
                        }

                        @media (max-width: 767px) {
                            width: 165px;
                        }

                        & span {
                            color: $DarkTextColor;
                            font-size: 18px;
                            line-height: 24px;
                            white-space: nowrap;

                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                &__body {
                    margin-top: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:hover {
                        & .table__body-head-cell {
                            & span {
                                color: $ButtonColor;
                            }
                        }
                    }

                    &-head-cell {
                        width: 330px;
                        display: flex;
                        align-items: center;

                        @media (max-width: 991px) {
                            padding: 15px;
                            width: 250px;
                        }

                        @media (max-width: 767px) {
                            width: 165px;
                        }

                        &:hover {
                            & span {
                                color: $DarkTextColor !important;
                            }
                        }

                        & span {
                            color: $DarkTextColor;
                            font-weight: $BoldWeight;
                            font-size: 16px;
                            line-height: 24px;

                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
                    }

                    &-cell {
                        height: 100%;
                        width: 100%;
                        width: 170px;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        transition: all 0.2s;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        & span {
                            color: $DarkTextColor;
                            font-size: 16px;
                            line-height: 24px;
                            width: 100%;
                        }

                        @media (max-width: 991px) {
                            width: 130px;
                        }

                        &:hover {
                            & span {
                                font-weight: $SemiBoldWeigth;
                            }

                            & .table__body-head-cell {
                                & span {
                                    color: $ButtonColor;
                                }
                            }
                        }

                        &.col-1 {
                            &:hover {
                                & .table__head-cell {
                                    & span {
                                        color: $ButtonColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-one-time {

            & .table {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(226px, auto));
                align-items: center;
                justify-content: center;
                grid-gap: 30px;
                margin-top: 80px;

                &__card {
                    min-width: 226px;
                    height: 100%;
                    padding: 30px 20px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    &-title {
                        font-weight: $BoldWeight;
                        font-size: 1.6rem;
                        color: $DarkTextColor;
                        text-align: center;
                        transition: all 0.2s;
                    }

                    &:hover {
                        & .table__card-title {
                            color: $ButtonColor;
                        }
                    }

                    &-text {
                        column-gap: 15px;
                    }

                    &-time {
                        font-size: 1.5rem;
                        text-align: center;
                        font-weight: $LightWeigth;
                        color: rgba(12, 20, 23, 0.5);
                        margin-top: 20px;
                    }

                    &-img {
                        margin-top: 30px;
                    }

                    &-price {
                        margin-top: 15px;

                        & span {
                            font-weight: $BoldWeight;
                            font-size: 3rem;
                            color: $DarkTextColor;
                        }

                    }

                    &-numb {
                        font-size: 1.5rem;
                        text-align: center;
                        font-weight: $LightWeigth;
                        color: rgba(12, 20, 23, 0.5);
                        margin-top: 15px;
                    }

                    &-control {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &-btn {
                            padding: 17px 40px;
                            min-width: 200px;
                            color: $ButtonColor;
                            font-size: 1.6rem;
                            font-weight: $BoldWeight;
                            position: relative;
                            cursor: pointer;
                            z-index: 1;

                            &:hover {
                                color: $TextColor;

                                &::before {
                                    background: $ButtonColor;
                                }
                            }

                            &::before {
                                content: "";
                                @include button-border;
                                border: 1px solid $ButtonColor;
                                transition: all 0.2s;
                                z-index: -1;
                            }

                            @media (max-width: 991px) {
                                padding: 17px 25px;
                                min-width: 150px;
                            }
                        }
                    }

                    &-control-btn:hover {
                        & .card__title {
                            color: $ButtonColor;
                        }
                    }
                }
            }
        }
    }

    &__section {
        width: 100%;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        padding: 100px 140px;

        @media (max-width: 991px) {
            padding: 100px 0;
        }
    }

    &__title {
        color: $DarkTextColor;
        font-size: 3rem;
        font-weight: $BoldWeight;
        text-align: center;
    }

    &__table-title {
        margin-top: 90px;
        color: $DarkTextColor;
        font-size: 2.4rem;
        font-weight: $BoldWeight;
        text-align: center;
    }
}

// .table {

//     &.subscriptions__table-all {
//         margin-top: 80px;

//         &.table {

//             &__head {
//                 width: 100%;
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 border-bottom: 1px solid rgba(12, 20, 23, 0.5);

//                 &-cell {
//                     min-width: 210px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     color: $DarkTextColor;
//                     padding-bottom: 15px;

//                     & span {
//                         color: $DarkTextColor;
//                         font-size: 18px;
//                         line-height: 24px;
//                         white-space: nowrap;
//                         font-weight: $BoldWeight;
//                     }

//                     &.col-1 {
//                         & .table__body-cell.col-1:hover {
//                             color: $ButtonColor;
//                         }
//                     }
//                 }

//                 &-col-cell {
//                     width: 260px;
//                     color: $DarkTextColor;
//                     padding-bottom: 15px;

//                     & span {
//                         color: $DarkTextColor;
//                         font-size: 18px;
//                         line-height: 24px;
//                         white-space: nowrap;
//                     }
//                 }
//             }

//             &__body {
//                 margin-top: 40px;
//                 width: 100%;
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;

//                 &:hover {
//                     & .table__body-head-cell {
//                         & span {
//                             color: $ButtonColor;
//                         }
//                     }
//                 }

//                 &-head-cell {
//                     width: 260px;
//                     display: flex;
//                     align-items: center;

//                     &:hover {
//                         & span {
//                             color: $DarkTextColor !important;
//                         }
//                     }

//                     & span {
//                         color: $DarkTextColor;
//                         font-weight: $BoldWeight;
//                         font-size: 16px;
//                         line-height: 24px;
//                     }
//                 }



//                 &-cell {
//                     height: 100%;
//                     min-width: 210px;
//                     text-align: center;
//                     vertical-align: middle;
//                     cursor: pointer;
//                     transition: all 0.2s;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;

//                     & span {
//                         color: $DarkTextColor;
//                         font-size: 16px;
//                         line-height: 24px;
//                         max-width: 170px;
//                     }

//                     &:hover {
//                         & span {
//                             font-weight: $SemiBoldWeigth;
//                         }

//                         & .table__body-head-cell {
//                             & span {
//                                 color: $ButtonColor;
//                             }
//                         }
//                     }

//                     &.col-1 {
//                         &:hover {
//                             & .table__head-cell {
//                                 & span {
//                                     color: $ButtonColor;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }


//     &.subscriptions__table-months {
//         margin-top: 80px;

//         &__head {
//             width: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             border-bottom: 1px solid rgba(12, 20, 23, 0.5);

//             &-cell {
//                 width: 100%;
//                 max-width: 170px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 color: $DarkTextColor;
//                 padding-bottom: 15px;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 18px;
//                     line-height: 24px;
//                     white-space: nowrap;
//                     font-weight: $BoldWeight;
//                 }

//                 &.col-1 {
//                     & .table__body-cell.col-1:hover {
//                         color: $ButtonColor;
//                     }
//                 }
//             }

//             &-col-cell {
//                 width: 310px;
//                 color: $DarkTextColor;
//                 padding-bottom: 15px;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 18px;
//                     line-height: 24px;
//                     white-space: nowrap;
//                 }
//             }
//         }

//         &__body {
//             margin-top: 40px;
//             width: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;

//             &:hover {
//                 & .table__body-head-cell {
//                     & span {
//                         color: $ButtonColor;
//                     }
//                 }
//             }

//             &-head-cell {
//                 width: 310px;
//                 display: flex;
//                 align-items: center;

//                 &:hover {
//                     & span {
//                         color: $DarkTextColor !important;
//                     }
//                 }

//                 & span {
//                     color: $DarkTextColor;
//                     font-weight: $BoldWeight;
//                     font-size: 16px;
//                     line-height: 24px;
//                 }
//             }



//             &-cell {
//                 height: 100%;
//                 width: 100%;
//                 max-width: 170px;
//                 text-align: center;
//                 vertical-align: middle;
//                 cursor: pointer;
//                 transition: all 0.2s;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 16px;
//                     line-height: 24px;
//                     max-width: 170px;
//                 }

//                 &:hover {
//                     & span {
//                         font-weight: $SemiBoldWeigth;
//                     }

//                     & .table__body-head-cell {
//                         & span {
//                             color: $ButtonColor;
//                         }
//                     }
//                 }

//                 &.col-1 {
//                     &:hover {
//                         & .table__head-cell {
//                             & span {
//                                 color: $ButtonColor;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// .subscriptions__table-all {
//     & .table {
//         margin-top: 80px;

//         &__head {
//             width: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             border-bottom: 1px solid rgba(12, 20, 23, 0.5);

//             &-cell {
//                 min-width: 210px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 color: $DarkTextColor;
//                 padding-bottom: 15px;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 18px;
//                     line-height: 24px;
//                     white-space: nowrap;
//                     font-weight: $BoldWeight;
//                 }

//                 &.col-1 {
//                     & .table__body-cell.col-1:hover {
//                         color: $ButtonColor;
//                     }
//                 }
//             }

//             &-col-cell {
//                 width: 260px;
//                 color: $DarkTextColor;
//                 padding-bottom: 15px;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 18px;
//                     line-height: 24px;
//                     white-space: nowrap;
//                 }
//             }
//         }

//         &__body {
//             margin-top: 40px;
//             width: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;

//             &:hover {
//                 & .table__body-head-cell {
//                     & span {
//                         color: $ButtonColor;
//                     }
//                 }
//             }

//             &-head-cell {
//                 width: 260px;
//                 display: flex;
//                 align-items: center;

//                 &:hover {
//                     & span {
//                         color: $DarkTextColor !important;
//                     }
//                 }

//                 & span {
//                     color: $DarkTextColor;
//                     font-weight: $BoldWeight;
//                     font-size: 16px;
//                     line-height: 24px;
//                 }
//             }



//             &-cell {
//                 height: 100%;
//                 min-width: 210px;
//                 text-align: center;
//                 vertical-align: middle;
//                 cursor: pointer;
//                 transition: all 0.2s;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 & span {
//                     color: $DarkTextColor;
//                     font-size: 16px;
//                     line-height: 24px;
//                     max-width: 170px;
//                 }

//                 &:hover {
//                     & span {
//                         font-weight: $SemiBoldWeigth;
//                     }

//                     // & .table__body-head-cell {
//                     //     color: $ButtonColor;
//                     // }
//                     & .table__body-head-cell {
//                         & span {
//                             color: $ButtonColor;
//                         }
//                     }
//                 }

//                 &.col-1 {
//                     &:hover {
//                         & .table__head-cell {
//                             & span {
//                                 color: $ButtonColor;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }