.trainers {

    &__container {
        padding: 100px 60px;

        @media (max-width: 991px) {
            padding: 90px 15px;
        }

        @media (max-width: 500px) {
            padding: 80px 15px 70px;
        }
    }

    &__content {
        column-gap: 55px;
    }

    &__title {
        margin-left: 20px;
        margin-bottom: 150px;
        font-size: 1.875rem;

        @media (max-width: 500px) {
            font-size: 1.56rem;
        }
    }

    &__slider {
        overflow-x: hidden;
        min-height: 600px;

        &-list {
            width: max-content;
            column-gap: 30px;
        }

        &-item {
            width: 307px;

            @media (max-width: 500px) {
                width: 250px;
            }
        }
    }

    &__control {
        padding-top: 30px;
        column-gap: 40px;

        &-btn {
            width: 26px;
            height: 26px;
            cursor: pointer;

            &>svg path {
                transition: all 0.2s;
            }

            &.btn-right {
                transform: rotate(180deg);
            }

            &:hover {
                &>svg path {
                    fill: $ButtonColor;
                }
            }
        }
    }

    &__range {
        max-width: 1000px;
        appearance: none;

        &::-webkit-slider-runnable-track {
            height: 4px;
            border-radius: 1px;
            background: $TextColor;
            padding: 0 50px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            height: 10px;
            width: 25%;
            background: $ButtonColor;
            cursor: pointer;
            margin-top: -3px;
        }

        &-container {
            padding-top: 30px;
        }
    }
}

.slide {

    &__img {
        width: 100%;
        height: 430px;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: $BoldWeight;
    }

    &__description {
        &-list {
            margin-top: 5px;
        }

        &-item {
            margin-top: 10px;
            font-size: 0.9rem;
            font-weight: $LightWeigth;
            color: rgba($color: $TextColor, $alpha: 0.5);

            & p {
                font-size: 0.9rem;
                font-weight: $LightWeigth;
                color: rgba($color: $TextColor, $alpha: 0.5);
                line-height: 2rem;
            }
        }
    }

}