@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utils/reset.scss";
@import "./utils/fonts.scss";
@import "./utils/variables.scss";

@import "./blocks/head.scss";
@import "./blocks/promo.scss";
@import "./blocks/gallery.scss";
@import "./blocks/subscriptions.scss";
@import "./blocks/trainers.scss";
@import "./blocks/questions.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/modal.scss";
@import "./blocks/decor.scss";

* {
    font-family: $MyFont;
    color: $TextColor;
}

body {
    background: $BgColor;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    position: relative;
}

.content {
    overflow-x: hidden;
}

.logo {
    @media (max-width: 550px) {
        width: 150px;
    }


    & svg {
        width: 100%;
    }
}