// Fonts 

$MyFont: "Montserrat";
$BoldWeight: 700;
$RegWeigth: 500;
$LightWeigth: 400;
$SemiBoldWeigth: 600;
$MyFontSize: 10px;


// Colors

$TextColor: #FFFFFF;
$BgColor: #0C1417;
$ButtonColor: #F7931E;